
	<div class="row d-flex justify-content-center" id="sobre_mi">
        
        <div class="col-sm-4 mt-3 p-3">
            <div class="text-center">
                <img src="./assets/images/photo.jpg" class="photo" width="200px" height="200px" alt="Foto de Carrie Jackson">
                <h3>Geraldine Acevedo</h3>
                <h5 class="text-secondary mb-3">Full Stack Developer Jr.</h5>
            </div>

            
        </div>

        <div class="col-sm-8 mt-3">
            <div class="card mb-2 w-auto m-2 p-2">
                <app-aboutedit *ngIf="hasRoute('dashboard')"></app-aboutedit>
                <div class="card-body">

                    <h5 class="card-title">Sobre mi</h5>
                    <br>
                      <p>Actualmente estoy realizando la segunda fase de Argentina Programa #YoProgramo</p>
                    
                </div>
            </div>
        </div>

    </div>