<section id="inicio">
  <div class="container text-center">
    <h2>Bienvenid@ a mi Portfolio</h2>
    <img
        src="https://i.ibb.co/w738ghm/IMG-20190529-174837.jpg"
        class="rounded-circle mb-2 align-items-center justify-content-center"
        id="photo"
        alt="Foto de Geraldine Acevedo"
      />
    <p>¡Hola! Soy una desarrolladora front-end apasionada por crear experiencias web increíbles.</p>
  </div>
</section>

<section id="sobre-mi">
  <div class="container">
    <h2>Sobre Mí</h2>
    <p>¡Hola! Soy Geraldine Acevedo.
      <br>

      Soy una desarrolladora web con enfoque en el frontend. Mi experiencia incluye trabajar con Angular y actualmente estoy ampliando mis conocimientos en el backend utilizando Spring Boot, un framework de Java.
<br>
      Además de mis habilidades técnicas, me considero una persona responsable, cumplidora, honesta y proactiva. Me apasiona aprender y crecer en mi carrera como desarrolladora.
<br>
      Recientemente, tuve la oportunidad de conocer No Country, una plataforma que recrea la dinámica de trabajo en equipo. Aquí puedo conectar con otros profesionales, como desarrolladores, diseñadores UX/UI y QAs. Es emocionante ser parte de una comunidad que valora la colaboración y el aprendizaje continuo.
<br>
      ¡Espero seguir creciendo y contribuyendo al mundo del desarrollo web! 😊</p>
  </div>
</section>

