/* You can add global styles to this file, and also import other style files */
photo {
  max-width: 100%;
  height: auto; 
  
  border-radius: 50%;
}

.fa fa-pencil{
  float: right;
}
/* Responsive Styles */
@media screen and (max-width: 767px) {
    

    photo {
      width: 1 rem;
      height: auto;
    }
  }

  @media screen and (max-width: 575px) {
    photo {
      width: 0.5 rem;
      height: auto;
    }
  }
