<section>
  <div class="container">
      <h2>Tecnologías</h2>
      <div class="row">
      <div class="col">
      <div class="card m-2 text-center">
          <div class="card-body">
              <img class="card-img-top" src="../../../assets/images/angular.svg">
              <h5>Angular</h5>
          </div>
      </div>
      </div>
      <div class="col">
      <div class="card m-2 text-center">
          <div class="card-body">
              <img class="card-img-top" src="../../../assets/images/typescript.svg">
              <h5>TypeScript</h5>
          </div>
      </div>
      </div>
      <div class="col">
      <div class="card m-2 text-center">
          <div class="card-body">
              <img class="card-img-top" src="../../../assets/images/bootstrap.svg">
              <h5>Bootstrap</h5>
          </div>
      </div>
         </div>
         <div class="col">
      <div class="card m-2 text-center">
          <div class="card-body">
              <img class="card-img-top" src="../../../assets/images/sass.svg">
              <h5>SASS</h5>
          </div>
      </div>
      </div>
      <div class="col">
      <div class="card m-2 text-center">
          <div class="card-body">
              <img class="card-img-top" src="../../../assets/images/git.svg">
              <h5>Git</h5>
          </div>
      </div>
      </div>
      <div class="col">
      <div class="card m-2 text-center">
          <div class="card-body">
              <img class="card-img-top" src="../../../assets/images/firebase.svg">
              <h5>Firebase</h5>
          </div>
      </div>
      </div>
      <div class="col">
      <div class="card m-2 text-center">
          <div class="card-body">
              <img class="card-img-top" src="../../../assets/images/vercel.svg">
              <h5>Vercel</h5>
          </div>
      </div>
      </div>
      </div>
  </div>
</section>
