
body {
    background: #007bff; background: linear-gradient(to right, #0062E6, #33AEFF); }

     .card-img{
     position:relative;
     }
     .claseimg img{
    width:120px;
    height:120px;
    position:absolute;
    top:50%;
    left:5%;
    border-radius:100%;
    overflow:hidden ;
}

#main-footer {
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
}

.navbar-brand img {
    filter: invert(100%);
}
